/* Other stylesheets */
@import url("home.css");

/* General Elements */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  height: 100%;
  margin: 20px;
  padding: 0;
  
  background-image: url(/src/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  display: block;
  width: 8em;
  margin: 1em auto;
  padding: .5em;

  background-color: #532593;
  box-shadow: 0px 0px 5px #9527f0;
  border-radius: 10px;

  font-size: 3em;
  text-align: center;
  color: #f2e8f3;

  cursor: pointer;
  user-select: none;
}

h2 {
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: .5em;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

/* Root elements */

  /* Styles for the card - the background of every display */
div#card {
  width: 80%;
  height: 450px;
  max-width: 1000px;
  min-width: 750px;
  margin: 0 auto;
  padding: 2em;

  background-image: url(/src/images/foreground.png);
  box-shadow: 0px 0px 10px #9527f0;
  border-radius: 10px;

  font-weight: 400;
  color: #f2e8f3;
  font-size: 1.2em;
}

  /* Styles for nav */
nav {
  width: 60%;
  max-width: 600px;
  margin: 4em auto .5em;
  padding: .15em;
  background-color: #cba8fc;
  border: 4px solid #532593;
  border-radius: 10px;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #532593;
  font-size: 1.25em;
  font-weight: 800;
}

nav ul li {
  cursor: pointer;
  padding: .25em;

  display: inline-block;
  background-image: linear-gradient(#ffd100 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 4px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/

  /* border-bottom: 4px solid transparent; */
  /* transition-property: border-bottom;
  transition-duration: 0.5s; */
}

  /* Styles for the flashcard */
.flashcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

    /* Styles for the qa-field */

.qa-field {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  flex-basis: 100%;
}

input.button-style {
  margin-top: 5em;
  padding: 1em;

  border-radius: 5px;
  box-shadow: 0px 0px 5px #cba8fc;
  background-color: #cba8fc;
  border: none;

  font-size: 1.025em;
  font-weight: 600;
  color: #532593;

  cursor: pointer;
  transition: ease-in-out all .2s, transform ;
}

    /* Styles for the card navigation */

.card-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.card-nav input[type="image"] {
  width: 50px;
  height: 50px;
  margin: 0 1em;
}

.card-nav input[type="image"]:nth-of-type(even) {
  transform: scaleX(-1);
}

    /* Styles for the chapter navigation */
.chapter-nav input {
  display: inline;
  width: 40px;
  height: 40px;
  margin-top: 12px;
  transition: transform 0.6s ease-in-out;
}

.chapter-nav span {
  font-size: 1.25em;
  vertical-align: .40em;
  padding-left: .5em;
}

.chapter-nav ul {
  position: absolute;
  transition: height 0.75s ease;
  overflow: hidden;
  list-style: none;
  padding-left: 2px;
  width: auto;
}

.chapter-nav ul li {
  margin: .2em;
  width: 100%;
}

.chapter-nav ul li a {
  color: #f2e8f3;
  text-decoration: none;
}

#drop-down-menu:not(.active) {
  display: none;
}

    /* Hover and active states */
nav ul li:hover {
  background-position: 100% 100%;
  background-size: 100% 4px;
}

input.button-style:hover {
  box-shadow: 0 0 12px #ffd100;
}

input.button-style:active {
  box-shadow: 0 0 12px #ffd100;
  background-color: #ffd100;
}

.card-nav input:hover, .chapter-nav ul li:hover {
  border-bottom: 2px dashed #ffd100;
}

.card-nav input:active, .chapter-nav ul li:active {
  border-bottom: 4px solid #ffd100;
}

h1:hover {
  box-shadow: 0 0 12px #ffd100;
}

    /* Animations */
.chapter-nav input.chapter-nav-animation {
  transform: rotate(405deg);
  width: 5em;
}