/* General Elements */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  height: 100%;
  margin: 20px;
  padding: 0;
  
  background-image: url(/src/images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  display: block;
  width: 8em;
  margin: 1em auto;
  padding: .5em;

  background-color: #532593;
  box-shadow: 0px 0px 5px #9527f0;
  border-radius: 10px;

  font-size: 3em;
  text-align: center;
  color: #f2e8f3;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

/* Root elements */

div#root {
  width: 80%;
  height: 450px;
  max-width: 1000px;
  min-width: 750px;
  margin: 4em auto;
  padding: 2em;

  background-image: url(/src/images/foreground.png);
  box-shadow: 0px 0px 10px #9527f0;
  border-radius: 10px;

  font-weight: 400;
  color: #f2e8f3;
  font-size: 1.2em;
}

/* Styles for the flashcard */
.flashcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

    /* Styles for the qa-field */

.qa-field {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  flex-basis: 100%;
}

.qa-field input {
  margin-top: 5em;
  padding: 1em;

  border-radius: 5px;
  box-shadow: 0px 0px 5px #cba8fc;
  background-color: #cba8fc;
  border: none;

  font-size: 1.025em;
  font-weight: 600;
  color: #532593;

  cursor: pointer;
  transition: ease-in-out all .2s, transform ;
}

.qa-field input:hover {
  box-shadow: 0 0 12px #ffd100;
}

.qa-field input:active {
  box-shadow: 0 0 12px #ffd100;
  background-color: #ffd100;
}

    /* Styles for the card navigation */

.card-nav input[type="image"] {
  width: 50px;
  height: 50px;
  margin: 1em;
}

.card-nav input[type="image"]:nth-of-type(even) {
  transform: scaleX(-1);
}

    /* Styles for the chapter navigation */
.chapter-nav p {
  margin-top: .5em;

  font-size: 1.35em;
}

